html,
body {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  font-size: 0;
  background-color: skyblue;
}
main .imgContainer-item {
  transition: all 0.3s;
}
main .imgContainer-item img {
  width: 100%;
}
